@{
    ViewData["Title"] = "CuraGo";
    Layout = "_LandingLayout";
}

<main>
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-body-emphasis outfit">Expand Your Clinical Practice With CuraGo</h1>
			<p class="fs-5">Join CuraGo's <b>exclusive Phase 1 launch</b> to expand your reach with at-home consultations.</p>
			<p>Ready to Grow Your Practice?</p>
			<div class="pb-3">
				<a href="#signup" class="btn btn-success btn-lg px-4"><i class="fa-solid fa-user-doctor"></i>&nbsp; Sign Up Instantly</a>
			</div>
		</div>
	</div>
</main>
