@{
    ViewData["Title"] = "CuraGo";
    Layout = "_LandingLayout";
}

<main>
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-body-emphasis outfit">Skip the Waiting Room – Get a Doctor at Your Doorstep</h1>
			<p class="fs-5"><b>Launching Soon!</b> Be among the first to experience the future of healthcare</p>
			<p class="pb-3">
				Endless waits, hectic traffic, and crowded hospitals? Healthcare shouldn’t be this hard! CuraGo brings trusted doctors–including specialists and super-specialists–right to your home for convenient, high-quality care.
			</p>
			@* <div class="pb-3">
				<a href="#signup" class="btn btn-success btn-lg px-4"><i class="fa-solid fa-user-doctor"></i>&nbsp; Sign Up Instantly</a>
			</div> *@
			
			<h3 class="text-body-emphasis outfit pb-1"><img src="~/images/medical.png" alt="how it works" height="50px" width="50px"> How it works</h3>

			<hr class="col-12 col-md-6 pb-1">

			<div class="row">
				<div class="col-md-3">
					<ul class="list-unstyled">
						<li class="pb-2"><i class="fa-solid fa-user-doctor text-secondary"></i>&nbsp; Choose a doctor</li>
						<li class="pb-2"><i class="fa-solid fa-calendar-days text-success"></i>&nbsp; Book a slot</li>
						<li><i class="fa-solid fa-house-medical text-danger"></i>&nbsp; Get care at home</li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="list-unstyled">
						<li class="pb-2"><i class="fa-solid fa-check text-success"></i>&nbsp; No long queues</li>
						<li class="pb-2"><i class="fa-solid fa-check text-success"></i>&nbsp; No travel hassle</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; No unclear pricing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-12">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/shout.png" alt="why choose curago" height="50px" width="50px"> Why Choose CuraGo?</h3>
			<div class="row">
				<div class="col-md-3 pb-3 d-flex align-items-stretch">
					<div class="card">
						<img src="~/images/hourglass.png" alt="no more waiting" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">No More Waiting</h6>
							<p class="card-text">Say goodbye to long waits and hospital queues</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 pb-3 d-flex align-items-stretch">
					<div class="card">
						<img src="~/images/car.png" alt="no travel hassles" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">No Travel Hassles</h6>
							<p class="card-text">Avoid traffic, parking, and other transport issues</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 pb-3 d-flex align-items-stretch">
					<div class="card">
						<img src="~/images/safe.png" alt="safe and hygienic" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">Safe & Hygienic</h6>
							<p class="card-text">Reduce exposure to crowded waiting areas and infections</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 pb-3 d-flex align-items-stretch">
					<div class="card">
						<img src="~/images/homecare.png" alt="specialist home care" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">Specialist Home Care</h6>
							<p class="card-text">Same expert consultation without leaving home</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-12">
			<h3 class="text-body-emphasis text-center outfit pb-3"><img src="~/images/assistance.png" alt="what is curago for" height="50px" width="50px"> Who is CuraGo For?</h3>
			<div class="row">
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; Busy professionals who can’t take time off</li>
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; Parents managing little ones at home</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; Seniors or anyone with mobility challenges</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; Patients recovering from surgery who need follow-up care</li>
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; Those needing physiotherapy in the comfort of their home</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; Immunocompromised individuals looking for a safer option</li>
					</ul>
				</div>
			</div>
			<p class="text-center fst-italic">Anyone who wants expert healthcare without the hassle</p>
		</div>
	</div>

	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-6">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/vision.png" alt="out vision" height="50px" width="50px"> Our Vision</h3>
			<ul class="list-unstyled">
				<li class="pb-3"><i class="fa-solid fa-square-check text-success"></i>&nbsp; Redefining healthcare accessibility with at-home medical care</li>
				<li class="pb-3"><i class="fa-solid fa-square-check text-success"></i>&nbsp; Eliminating long waits, stressful commutes, and hospital hassles</li>
				<li><i class="fa-solid fa-square-check text-success"></i>&nbsp; Ensuring expert care reaches you—whenever & wherever you need it</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/mission.png" alt="our mission" height="50px" width="50px"> Our Mission</h3>
			<ul class="list-unstyled">
				<li class="pb-3"><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; Making high-quality healthcare convenient, safe, and patient-centric</li>
				<li class="pb-3"><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; Connecting you with experienced doctors at home</li>
				<li><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; Removing logistical barriers like travel, wait times, and hidden costs</li>
			</ul>
		</div>
	</div>


	<hr class="col-12 col-md-12 pb-3">

	<div class="row">
		<div class="col-md-12">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/about.png" alt="about us" height="50px" width="50px"> About Us</h3>
			<p>
				At CuraGo, we are reimagining and revolutionizing healthcare by making expert medical care accessible from the comfort of your home. No waiting, no hassle—just top-quality healthcare, delivered to you.
			</p>
		</div>
		<div class="col-md-6">
		</div>
	</div>

</main>
